.navbar {
    font-size: $default-font-size;

    // ul {
    //     list-style-type: none;
    //     margin: 0;
    //     padding: 0;
    //     overflow: hidden;
    // }

    li {
         margin-right: 40px;

        a {
            font-size: 18px;
        }
    }

        &.active a {
            color: #ffffff;
        }
    }

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.507)
}

// .navbar-dark .navbar-nav .nav-item a {
//     color: #949494 !important;
// }