.blog-snippet {
    margin-left: 20px;
    display: none;
    transition: all .5s;

    &__text {
        text-align: left;
        font-size: 18px;
    }

    &.open {
        display: block;
    }

    &--right {
        text-align: right;
    }

    &--left {
        text-align: left;
    }
}