// Fonts
$fa-font-path: "../../webfonts/";
$default-font: 'Rubik', sans-serif;
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Margins
$margin-md: 4rem;

// Colors
$primary-color: #375A7F;
$secondary-color: #303030;
$success-color: #00BC8C